{{#partial "content"}}
    <div class="entry-list">
    {{#each blogEntries}}
        <article>
            <h2><a href="{{ this.slug }}">{{ this.title }}</a></h2>
            <time datetime="{{ this.timeStringShort }}">{{ this.timeStringLong }}</time>
        </article>
    {{/each}}
    </div>
{{/partial}}

{{> base.hbs}}